.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #0f172a;
  border-radius: 12px;
  text-align: center;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-top: 10%;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.resultado {
  margin-top: 20px;
  font-size: 18px;
  color: #38bdf8;
}