.body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10%;
    color: #fff;
    background-color: #0f172a;
}
.card{
    background-color: #3c4861;
    padding: 20px ;
}