.Footer{
    background: #3b5454;
    background: linear-gradient(0deg, (0, 0, 0, 1) 0%, rgba(120, 113, 113, 1) 100%);
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    justify-content: center;
    padding: 40px;
    width: 100vw;
    gap: 12px;
}
.titulo{
    font-size: large;
    color: #fff;
    
}
.referencias{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.refs{
    gap: 20px;
}